@import './_utils.scss';

//전체 레이아웃
body {
  margin: 0;
  font-family:$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  //background-color: $background;
  color:$black;
}

.Toastify__toast-body > div:last-child {
  color: white;
}

.layout {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  position: relative;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border:none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color:$white;

  & a {color:$white;}

  &:disabled {
    opacity: 0.5;
  }
}

.transparent {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky {
  margin: 0 auto;
  top:0;
  width: 100%;
  position: sticky;
  max-width: 600px;
}

// footer
.footer {
  margin: 0 auto ;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: 600px;
  background-color: transparent;
  color: $black;

  &_grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    //background-color: transparent;
    background-color: #dddddd40;

    &_text {
      background-color: transparent;
    }

    button {
      border:none;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      background-color: transparent;
      padding: 16px 0;
      backdrop-filter: blur(10px);

      svg {
        backdrop-filter: blur(10px);
        background-color: transparent;
      }
    }
  }
}

@include xsMobile {
  .footer {
    display: none;
  }

  .layout {
    border: none;
  }
}

@include mobile {
  .footer {
    &_grid {
      &-text {
        display: none;
      }
      button {
        font-size: 20px;
      }
    }
  }

  .layout {
    border: none;
  }
}

@include tablet {
  .footer {
    &_grid {
      &-text {
        display: none;
      }
      button {
        font-size: 24px;
      }
    }
  }

  .layout {
    border: none;
  }
}

// home layout
.home {

  &_search-div {
    display: flex;
    justify-content: center;
  }

  &_search {
    @extend .post-form_input;
    background-color: $backgroundLight;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 12px;
    width: 90% !important;
    font-size: 15px;
    font-weight: 600;

    &:focus {
      border: 1px solid $primaryColor;
      background-color: $activeBg;
    }
  }

  &_top {
    @extend .transparent;
    @extend .sticky;

  }

  &_top-bg {
    background-color: #dddddd40 ;
  }

  &_title {
    background-color: transparent;
    width: 100%;
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
  }

  &_tabs{
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &_tab {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    padding:16px;
    cursor: pointer;

    &-active {
      font-weight: 700;
      border-bottom: 2px solid $activeBorder;
    }

    &:hover,
    &:focus {
      background-color: $activeBg;
    }
  }
}
.post-form {
  &_profile {
    padding: 16px;

    .post-form_input {
      border-bottom: 1px solid $gray;
      padding: 8px 2px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 20px;

      &:active,
      &:focus {
        border-bottom: 1px solid white;
      }
    }
  }

  &_image-area {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_attachment {
    display: flex;
    align-items: end;
    gap: 16px;
  }

  &_clear-btn {
    @extend .button;
    padding: 0.2rem 0.8rem;
    background-color: $danger;

    &:hover,
    &:focus {
      background-color: $dangerDark;
    }
  }

  &_input {
    font-family: $font;
    padding: 8px;
    border: none;
    resize: none;
    outline: none;
    margin-top: 8px;
    width: calc(100% - 32px);
  }

  &_hashtags {
    padding: 16px;
    border-bottom: 1px solid $border;

    &-outputs {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 1px;
      align-items: center;
    }

    &-tag {
      font-size: 14px;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      border-radius: 10px;
      padding: 2px 8px;
      margin-right: 6px;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $activeBorder;
        border: 1px solid $activeBorder;
      }
    }
  }

  &_textarea {
    font-family: $font;
    min-height: 120px;
    display: block;
    width: calc(100% - 32px);
    padding: 16px;
    border:none;
    resize: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid $border;

    &::placeholder {
      font-family: $font;
      color:$grayText;
      font-size: 20px;
    }
  }
  &_submit-area {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    align-items: center; //트윗 버튼 정렬

    .post-form_file {
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }
  }

  &_submit-btn {
    @extend .button; /* 이전에 만든 버튼클래스 가져옴 */
    padding: 0.5rem 1rem;
    background-color: $primaryColor;

    &:hover,
    &:focus {
      background-color: $activeBorder;
    }
  }
}


// post layout
.post {

  &_image-div {
    padding: 16px;
  }

  &_header {
    button {
      border: none;
      padding: 16px;

      background: transparent;
    }

    &-btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &_no-posts {
    padding: 16px;

    .post_text {
      font-size: 14px;
      //border: 1px solid $gray;
      border: 1px solid #ddd;
      padding: 16px;
      border-radius: 4px;
      color: $gray;
    }
  }

  padding-bottom: 40px;

  &_flex {
    display: flex;
    gap: 4px;
    align-items: center;

    &-between {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &_follow-btn {
    @extend .button;
    background-color: $activeBorder;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $activeBorder;
    }
  }

  &_following-btn {
    @extend .button;
    background-color: $white;
    color: $activeBorder;

    &:hover,
    &:focus {
      background-color: $activeBorder;
      color: $white;
    }
  }

  &_email,
  &_createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &_box {
    padding: 10px 0;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }

    &-profile {
      text-decoration: none;
      padding: 0 10px;

      &-img,
      &-icon {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        opacity: 0.3;
      }
    }

    &-content {
      display: block;
      font-weight: 500;
      padding: 16px 4px;
    }

    &-footer {
      padding: 0 16px;
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      gap: 8px;
      flex-direction: row-reverse;

      button {
        @extend .button;

        &.post_delete {
          background-color: $danger;

          &:hover,
          &:focus {
            background-color: $dangerDark;
          }
        }

        &.post_edit {
          background-color: $gray;

          a {
            background-color: transparent;;
          }

          &:hover,
          &:focus {
            background-color: $grayDark;
          }
        }

        &.post_likes,
        &.post_comments {
          color: $black;

          @extend .post_flex;

          &:hover,
          &:focus {
            color:$gray;
          }
        }
      }
    }
  }
}

// form layout
.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;

  input{
    height: 20px;
    padding: 10px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    width: 96%;
    max-width: 680px;
  }

  &_block {
    margin-top: 20px;
    width: 100%;
  }

  &_block-lg {
    margin-top: 28px;
    width: 100%;
  }

  label {
    display: block;
    margin: 20px 0 10px;
    font-weight: 500;
  }

  &_btn-submit {
    @extend .button;
    margin: 0 auto;
    width: 100%;
    height: 48px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color:white;
    background-color: $primaryColor;

    &:hover,
    &:focus{
      background-color: $activeBorder;
    }

    &_title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 20px;
    }

    &_link {
      margin-left: 10px;
      text-decoration: none;
      color: $grayText;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }
  &_error {
    color: red;
  }

  &_btn-google {
    @extend .form_btn-submit;
    background-color: $white;
    color: $activeBorder;

    border: 1px solid;

    &:hover,
    &focus {
      background-color: $activeBorder;
      color: $white;
    }
  }

  &_btn-github {
    @extend .form_btn-submit;
    background-color: black;
    color: white;

    &:hover,
    &:focus{
      background-color: $activeBg;
      color: $white;
    }
  }
}

// 프로필 레이아웃
.profile {
  display: flex;
  padding: 0 1rem;
  margin-top: 2.5rem;
  justify-content: space-between;
  align-items: center;

  &_flex {
    display: flex;
    gap: 8px;
  }

  &_image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  &_btn {
    @extend .button;
    background-color: $primaryColor;

    &:hover,
    &:focus {
      background-color: $activeBorder;
    }

    &-language {
      @extend .button;
      background-color: $gray;

      &:hover,
      &:focus {
        background-color: $grayDark;
      }
    }
  }

  &_text {
    padding: 0 1rem;
    margin-top: 20px;
  }

  &_name {
    font-size: 16px;
    color: $black;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &_email {
    font-size: 14px;
    color: $grayText;
    margin-bottom: 4px;
  }
}


